In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import collections

In [31]:
# scraping CIA world fact book
NaMo_countries = ['Kuwait', 'Bahrain', 'Oman', 'Qatar', 'Saudi Arabia', 'United Arab Emirates', 'Yemen',
                  'Israel', 'Jordan', 'Lebanon', 'Syria', 'Egypt', 'Iran', 'Turkey',
                  'Iraq']

url='https://www.cia.gov/Library/publications/the-world-factbook/fields/'

fields = ['2010', '2047', '2085']
# 2010: AGE STRUCTURE
# 2047: HOUSEHOLD INCOME OR CONSUMPTION BY PERCENTAGE SHARE
# 2085: ROADWAYS

d = collections.defaultdict(list)

for i in range(0, len(fields)):
    r=requests.get(url + fields[i] + '.html')
    soup=BeautifulSoup(r.content,'lxml')

    data = [] # all data as list of lists 
    table=soup.find('table', id='fieldListing')
    with open('a.txt', 'w') as f:
        for tr in table('tr', id=True):
            l = list(tr.stripped_strings) #i.e. 2047 #['Kuwait', 'lowest 10%:', '3.8%', 'highest 10%:', '24% (2008)']
            country = l[0]
            #print country
            highest = l[-1].split()[0]
            if l[0] in NaMo_countries:
                data.append(l)
            f.write(country + ' ' + highest + '\n')
    d['field' + fields[i]].append(data)

#data to df

In [73]:
for i in range(0,5):
    print d['field2085'][0][10][i]

Saudi Arabia
total:
221,372 km
paved:
47,529 km (includes 3,891 km of expressways)

In [54]:
df = pd.DataFrame({'Country' : d['field2010'][0][0], 
                   d['field2010'][0][0][1] : d['field2010'][0][0][2],
                   d['field2010'][0][0][3]: d['field2010'][0][0][4],
                   d['field2010'][0][0][5]: d['field2010'][0][0][5]})

In [55]:
df

,0-14 years:,15-24 years:,25-54 years:,Country
0,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,Bahrain
1,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,0-14 years:
2,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,"19.27% (male 134,899/female 130,792)"
3,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,15-24 years:
4,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,"15.76% (male 122,683/female 94,627)"
5,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,25-54 years:
6,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,"56.07% (male 505,181/female 268,034)"
7,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,55-64 years:
8,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,"6.05% (male 53,693/female 29,717)"
9,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,65 years and over:
10,"19.27% (male 134,899/female 130,792)","15.76% (male 122,683/female 94,627)",25-54 years:,"2.85% (male 19,253/female 20,025) (2016 est.)"